nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: bisque;
  color: black;
}

nav ul {
  padding: 0;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

ul li {
  text-decoration: none;
  list-style: none;
}